sudo: required
services:
  - docker
  - coreutils

before_install:
  - sudo apt-get -y install coreutils
  - docker build -t s061144/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true s061144/react-test npm test

after_success:
  - docker build -t s061144/multi-client ./client
  - docker build -t s061144/multi-nginx ./nginx
  - docker build -t s061144/multi-server ./server
  - docker build -t s061144/multi-worker ./worker
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  - docker push s061144/multi-client
  - docker push s061144/multi-nginx
  - docker push s061144/multi-server
  - docker push s061144/multi-worker
